canvas{
  border :solid 1px #434343 ;
  height:200px;
}
#new{
  padding: 10px 10px 10px 10px ;
  background-color :green;
  border-radius:6px;
  margin-bottom: 20px ;
}
#dv2{
  color : cyan;
  padding: 20px 20px 20px 20px ;
  background-color :green;
  border-radius:6px;
  margin-bottom: 10px ;
  text-align:center;
}
h1{
  color: #000;
  text-align:center;
}
#btn{
  text-align:center;
  color:#000;
  background-color:#A0f;
  border-radius:6px;
  border : 1px solid ;
}